<header class="header">
  <nav class="header__nav container">
    <ul class="header__nav-list">
      @for (link of navLinks(); track link.label) {
        <li class="header__nav-item">
          <a
            class="header__nav-link"
            [routerLink]="link.path"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }"
            >{{ link.label }}</a
          >
        </li>
      }
    </ul>
    <button (click)="showMenu()" class="header__nav-menu">
      <img src="/assets/svgs/menu-icon.svg" alt="Меню" />
    </button>
    <strong class="header__nav-logo"
      ><a class="header__nav-logo" routerLink="/">New Balance</a></strong
    >

    <div class="header__nav-icons">
      <button (click)="onSearch()" class="header__nav-icon" [class.active]="isSearching()">
        <img class="header__nav-icon-img" src="/assets/svgs/search.svg" alt="Поиск" />
      </button>
      @for (icon of navIcons(); track icon.id) {
        <a
          class="header__nav-icon"
          [routerLink]="icon.path"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
        >
          <img class="header__nav-icon-img" [src]="icon.icon" [alt]="icon.label" />
          @if (getBadge(icon.id) > 0) {
            <span class="header__nav-badge">{{ getBadge(icon.id) }}</span>
          }
        </a>
      }
      @if (isSearching()) {
        <app-search-block (closeSearch)="isSearching.set(false)" />
      }
    </div>
  </nav>
</header>

<app-mobile-menu [isOpen]="isMenu()" (isCloseModal)="isMenu.set(false)" />
