<section class="hero">
  <div class="hero-container container">
    <span class="hero__label">КОЛЛЕКЦИЯ 2026</span>
    <h1 class="hero__title">Беги своим путём</h1>
    <p class="hero__description">
      Кроссовки New Balance — для тех, кто не останавливается. <br />
      Классика и инновации в каждой паре.
    </p>
    <div class="hero__buttons">
      <button routerLink="/catalog" class="hero__button btn-dark">Смотреть каталог</button>
      <button routerLink="/new-arrivals" class="hero__button btn-light">Новинки сезона</button>
    </div>
  </div>
</section>
