.new-arrivals {
  padding: 30px 0;
}

.nav {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 14px;
  margin-bottom: 15px;
}

.nav__link {
  cursor: pointer;
  transition: 0.2s ease-in;

  &:hover {
    color: #111;
  }
}

.nav__link,
.nav__separator {
  color: #999;
}

.nav__current {
  color: #111;
  font-weight: 400;
}

.new-arrivals__header-wrapper {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}

.new-arrivals__header-right {
  margin-bottom: 10px;
}

.new-arrivals__filter-btn {
  display: flex;
  align-items: center;
  gap: 7px;
  font-size: 13px;
  font-weight: 500;
  padding: 8px 16px;
  border: 1px solid #ddd;
  border-radius: 4px;
  background: #fff;
}

.new-arrivals__title {
  font-size: 36px;
  font-weight: 700;
  letter-spacing: -0.5px;
}

.new-arrivals__model-count {
  position: relative;
  top: -5px;
  font-size: 14px;
  color: #999;
}

.new-arrivals__hr {
  margin-bottom: 20px;
  border: 1px solid #eaeaea;
}

.new-arrivals__filter-btns {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 15px;
}

.filter-btns__btn {
  font-size: 12px;
  font-weight: 500;
  padding: 5px 12px;
  border-radius: 20px;
  background: #f5f5f5;
  color: #555;
  cursor: pointer;
  border: 1.5px solid transparent;

  &.active {
    background: #d4ff00;
    color: #111;
    border-color: #d4ff00;
  }
}

.new-arrivals-card__list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px 0;
  margin-bottom: 30px;
}

.filter-overlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.4);
  z-index: 100;

  opacity: 0;
  visibility: hidden;
  pointer-events: none;

  transition:
    opacity 0.3s ease,
    visibility 0.3s ease;

  &.active {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
  }
}
