<div class="history-orders">
  <h2 class="history-orders__title">История заказов</h2>
  <div class="history-orders__list">
    @if (orders().length === 0) {
      <div class="empty-orders-container">
        <div class="empty-orders-content">
          <div class="empty-orders-icon">
            <svg
              class="empty-orders-icon__svg"
              viewBox="0 0 24 24"
              fill="none"
              stroke="currentColor"
              stroke-width="1.5"
              stroke-linecap="round"
              stroke-linejoin="round"
            >
              <path d="M6 2L3 6v14a2 2 0 0 0 2 2h14a2 2 0 0 0 2-2V6l-3-4z"></path>
              <line x1="3" y1="6" x2="21" y2="6"></line>
              <path d="M16 10a4 4 0 0 1-8 0"></path>
            </svg>
          </div>
          <h3 class="empty-orders-title">У вас пока нет заказов</h3>
          <p class="empty-orders-text">
            Вы еще не совершили ни одной покупки. Перейдите в каталог, чтобы найти то, что вам
            понравится.
          </p>
          <a routerLink="/catalog" class="empty-orders-btn">Перейти к покупкам</a>
        </div>
      </div>
    } @else {
      @for (item of orders(); track item.id) {
        <app-order-card [order]="item" />
      }
    }
  </div>
</div>

<app-modal
  [isOpen]="isModalOpen()"
  (closed)="isModalOpen.set(false)"
  [typeModal]="typeModal()"
  [message]="messageModal()"
/>
