<div class="auth-panel">
  <h3 class="panel-title">Забыли пароль?</h3>
  <p class="panel-subtitle">
    Введите почту, привязанную к аккаунту — мы отправим на неё письмо со ссылкой для восстановления.
  </p>
  <form [formGroup]="form" class="form" (ngSubmit)="onSubmit()">
    <div class="form-row">
      <div class="form-group">
        <label class="form-label" for="email">Почта</label>
        <input
          formControlName="email"
          class="form-input"
          id="email"
          type="email"
          placeholder="example@mail.ru"
        />
      </div>
    </div>
    @if (!isSubmit()) {
      <div class="form-actions">
        <button type="submit" class="btn-primary">Отправить письмо</button>
      </div>
    } @else {
      <div class="form-confirm-text">
        Письмо отправлено на <strong>{{ currentEmail() }}</strong
        >. Проверьте почту и перейдите по ссылке из письма.
      </div>
      <div class="form-actions">
        <button type="submit" class="btn-link" [disabled]="timeRemaining() > 0">
          Отправить повторно
        </button>
        @if (timeRemaining() > 0) {
          <span class="timer"
            >0:{{ timeRemaining() < 10 ? '0' + timeRemaining() : timeRemaining() }}</span
          >
        }
      </div>
    }
  </form>
</div>
