<div class="card">
  <div class="card__header">
    <h2 class="card__title">Покупатель</h2>
  </div>
  <div class="buyer-card">
    <div class="buyer-card__avatar-row">
      <div class="buyer-card__avatar">
        {{ order()?.profiles?.first_name?.charAt(0) }}
      </div>
      <div class="buyer-card__info">
        <div class="buyer-card__name">
          {{ order()?.profiles?.first_name }} {{ order()?.profiles?.last_name ?? '—' }}
        </div>
        <div class="buyer-card__email">{{ currentUser()?.email ?? '—' }}</div>
      </div>
    </div>
    <div class="buyer-card__row">
      <span class="buyer-card__row-label">Заказов всего</span>
      <span class="buyer-card__row-value">{{ allOrdersUser().length }}</span>
    </div>
    <div class="buyer-card__row">
      <span class="buyer-card__row-label">Телефон</span>
      <span class="buyer-card__row-value">{{ order()?.profiles?.phone ?? '—' }}</span>
    </div>
    <div class="buyer-card__row">
      <span class="buyer-card__row-label">Город</span>
      <span class="buyer-card__row-value">{{ order()?.profiles?.city ?? '—' }}</span>
    </div>
    <div class="buyer-card__row">
      <span class="buyer-card__row-label">Регистрация</span>
      <span class="buyer-card__row-value">{{
        currentUser()?.created_at ?? '—' | date: 'MMM d, y, h:mm'
      }}</span>
    </div>
  </div>
</div>
